*.pyc
*.pyo
*_dis
*~
.mypy_cache
/.cache
/.eggs
/.hypothesis
/.idea
/.pytest_cache
/.python-version
/.tox
/.venv*
/ChangeLog-spell-corrected
/README
/__pkginfo__.pyc
/decompyle3.egg-info
/dist
/how-to-make-a-release.txt
/nose-*.egg
/pycharm-venv
/tmp
/unpyc
ChangeLog
__pycache__
build
nohup.out
