name: decompyle3 (ubuntu)

on:
  push:
    branches: [ master, python-3.7-to-3.10 ]
  pull_request:
    branches: [ master, python-3.7-to-3.10 ]

jobs:
  # build-master:
  #   if: github.ref == 'refs/heads/master'
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #     with:
  #       ref: master
  #   - name: Set up Python 3.10
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: 3.10
  #   - name: Install dependencies
  #     run: |
  #       python -m pip install --upgrade pip
  #       # Until the next xdis release
  #       pip install --local -e git+https://github.com/rocky/python-xdis.git@python-3.6-to-3.10#egg=xdis
  #       pip install -e .
  #       pip install -r requirements-dev.txt
  #   - name: Test decompyle3
  #     run: |
  #       make check

  build-37-to-310:
    if: github.ref == 'refs/heads/python-3.7-to-3.10'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        ref: python-3.7-to-3.10
    - name: Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Until the next xdis release
        pip install --local -e git+https://github.com/rocky/python-xdis.git@python-3.6-to-3.10#egg=xdis
        pip install -e .
        pip install -r requirements-dev.txt
    - name: Test decompyle3
      run: |
        make check
